@media screen and (min-width: 1px){

 body{margin:0 auto; width:320px;}

}

@media screen and (min-width: 768px){

 body{margin:0 auto; width:768px;}

}

@media screen and (min-width: 960px){

 body{margin:0 auto; width:960px;}

}

@media screen and (min-width: 1200px){

 body{margin:0 auto; width:1200px;}

}