.atp--hdg{
	color:$base-hdg-color;
	line-height:$base-line_height;
}
.atp--hdg-1{
	font-size:$base-hdg-1-size;
	font-weight:600;
}
.atp--hdg-2{
	font-size:$base-hdg-2-size;
	font-weight:600;
}
.atp--hdg-3{
	font-size:$base-hdg-3-size;
	font-weight:600;
}
.atp--hdg-4{
	font-size:$base-hdg-4-size;
	font-weight:400;
	text-decoration:underline;
}
.atp--hdg-5{
	font-size:$base-hdg-5-size;
	font-weight:600;
}
.atp--hdg-6{
	font-size:$base-hdg-6-size;
	font-weight:400;
	text-decoration:underline;
}