.atp--txt{
	font-size:$base-txt-1-size;
	font-weight:200;
	line-height:$base-line_height;
}

@media screen and (min-width: 1px){

}

@media screen and (min-width: 768px){

}

@media screen and (min-width: 960px){

}

@media screen and (min-width: 1200px){

}